$bebas: 'bebas';
$gotham: 'Gotham Pro';
$lazy: 'lazy';
$bask: 'Baskerville Cyrillic';
$milio: 'miliolight';
$transition: all .3s ease-in-out;

@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebasneue_bold.woff2') format('woff2'),
         url('../fonts/bebasneue_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebasneue_regular.woff2') format('woff2'),
         url('../fonts/bebasneue_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-Medium.woff2') format('woff2'),
		url('../fonts/subset-GothamPro-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-Bold.woff2') format('woff2'),
		url('../fonts/subset-GothamPro-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro.woff2') format('woff2'),
		url('../fonts/subset-GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/subset-GothamPro-Light.woff2') format('woff2'),
		url('../fonts/subset-GothamPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: 'lazy';
    src: url('../fonts/lazy.woff2') format('woff2'),
         url('../fonts/lazy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Baskerville Cyrillic';
	src: url('../fonts/subset-BaskervilleCyrillic.woff2') format('woff2'),
		url('../fonts/subset-BaskervilleCyrillic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'miliolight';
    src: url('../fonts/tipo_pepel_-_miliolight.woff2') format('woff2'),
         url('../fonts/tipo_pepel_-_miliolight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.slick-slide,
.slick-slide * { 
	outline: none !important;
}

.btn {
	display: inline-block;
	height: 50px;
	border-radius: 2px;
	text-align: center;
	border: 2px solid transparent;
	line-height: 52px;
	font: 700 20px/50px $bebas;
	text-decoration: none;
	padding: 0 45px;
	margin: 0 10px;
	letter-spacing: .1em;
	transition: $transition;
	min-width: 200px;
}

.btn--green {
	color: #fff;
	background: #9ccc65;
	border-color: #9ccc65;
	&:hover {
		background: #fff;
		color: #333333;
	}
}

.btn--transparent {
	background: #fff;
	border-color: #9ccc65;
	color: #333333;
	&:hover {
		color: #fff;
		background: #9ccc65;
	}
}



