@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";
@import "_slick.scss";
@import "_magnific-popup.scss";
//1790, 1360, 1000, 650
body {
	font: 16px/24px $gotham;
	color: #333333;
	background: #fefdfb;
	letter-spacing: 0.05em;
	&.overflowed {
		overflow: hidden;
		height: 100%;
	}
}

.site-header {
	background: url(../img/header-paper.png) top center no-repeat;
	padding-bottom: 70px;
	@media screen and (max-width: 1790px) {
		padding-bottom: 20px;
	}
}

.large-container {
	padding: 0 110px;
	position: relative;
	&__inner {
		position: relative;
	}
	@media screen and (max-width: 1360px) {
		padding: 0 10px;
	}
}

.container {
	max-width: 1160px;
	margin: auto;
	padding: 0 10px;
}

.main-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 35px 0 0;
	padding: 0;
	list-style-type: none;
	a {
		text-transform: uppercase;
		color: #333333;
		font: 18px $bebas;
		letter-spacing: 0.1em;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: $transition;
		@media screen and (max-width: 1790px) {
			font-size: 15px;
		}
	}
	a:hover {
		border-color: #77d5ad;
	}
	@media screen and (max-width: 1790px) {
		justify-content: flex-start;
		margin-left: 90px;
		a {
			margin-right: 20px;
		}
	}
	@media screen and (max-width: 1360px) {
		display: none;
	}
	li.close-menu {
		display: none;
	}
	&.visible {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(192, 192, 192, 1);
		top: 0;
		left: 0;
		margin: 0;
		z-index: 10;
		text-align: center;
		overflow: auto;
		padding-top: 45px;
		display: block;
		li {
			display: block;
			width: 100%;
			margin-bottom: 10px;
			a {
				margin: 0;
			}
			&.close-menu {
				display: block;
				position: absolute;
				width: 50px;
				height: 50px;
				background: #fff;
				top: 0;
				right: 0;
				margin-bottom: 0;
				button {
					display: block;
					width: 100%;
					height: 100%;
					padding: 0 5px;
					cursor: pointer;
					span {
						height: 3px;
						display: block;
						background: #000;
					}
					span:first-child {
						transform: rotate(-45deg);
						margin-bottom: -3px;
					}
					span:nth-child(2) {
						transform: rotate(45deg);
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.logo {
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 2;
	@media screen and (max-width: 1790px) {
		left: -50px;
	}
	@media screen and (max-width: 1360px) {
		position: static;
		margin-top: 15px;
		display: block;
		float: left;
	}
	@media screen and (max-width: 1000px) {
		max-width: 90px;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

.toggle-mobile {
	display: none;
	@media screen and (max-width: 1360px) {
		display: block;
		float: right;
		margin-right: 130px;
		width: 50px;
		height: 50px;
		margin-top: 19px;
		cursor: pointer;
		border: none;
		background: #c0c0c0;
		padding:0 15px;
		outline: 0;
		span {
			display: block;
			margin-bottom: 3px;
			height: 4px;
			background: #fff;
			&:last-child {
				margin: 0;
			}
		}
	}
	@media screen and (max-width: 1000px) {
		margin-right: 110px;
	}
}

.anonses-link {
	position: absolute;
	right: 0;
	top: 20px;
	display: block;
	width: 180px;
	height: 50px;
	background-color: #ffe578;
	border-radius: 2px;
	color: #333333;
	font: 20px/50px $bebas;
	letter-spacing: 0.1em;
	text-align: center;
	text-decoration: none;
	transition: $transition;
	&:hover {
		background-color: #f9d642;
	}
	@media screen and (max-width: 1790px) {
		font-size: 16px;
		width: 130px;
	}
	@media screen and (max-width: 1360px) {
		top: 19px;
	}
	@media screen and (max-width: 1000px) {
		font-size: 14px;
		width: 110px;
	}
}

.header-slider {
	margin-top: 40px;
	@media screen and (max-width: 1360px) {
		margin-top: 0;
	}
	@media screen and (max-width: 1000px) {
		margin-top: 20px;
	}
	.slick-slide {
		position: relative;
		@media screen and (max-width: 1000px) {
			overflow: hidden;
		}
	}
	.slick-dots {
		margin: 60px 0 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
		@media screen and (max-width: 1000px) {
			margin-top: 30px;
		}
		li {
			display: inline-block;
			margin: 0 7px;
			width: 8px;
			height: 8px;
			button {
				font-size: 0px;
				text-indent: -9999px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				border: 1px solid #4c4a55;
				display: block;
				background: transparent;
				padding: 0;
				cursor: pointer;
				&:focus {
					outline: 0;
				}
			}
			&.slick-active button {
				background: #4c4a55;
			}
		}
	}
}

.header-slider__quote {
	font: 32px $lazy;
	color: #3f0da4;
	float: right;
	margin: 0 270px 50px 0;
	span {
		font: 300 18px $gotham;
		display: block;
		text-align: center;
		margin-top: 5px;
	}
	@media screen and (max-width: 1360px) {
		margin: 0 0 30px;
		text-align: center;
		float: none;
	}
	@media screen and (max-width: 1000px) {
		font-size: 25px;
		line-height: 30px;
	}
}
.heading__img {
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
	}
}

.anons__heading {
	font: 500 36px $gotham;
	color: #44424d;
	text-transform: uppercase;
	text-align: center;
	margin: 15px 0 40px;
	letter-spacing: 0.1em;
	position: relative;
	z-index: 1;
	@media screen and (max-width: 1790px) {
		font-size: 32px;
	}
	@media screen and (max-width: 1360px) {
		padding: 0 190px 0 200px;
		line-height: 40px;
	}
	@media screen and (max-width: 1000px) {
		padding: 0;
		font-size: 22px;
		line-height: 24px;
	}
}

.watch-trailer {
	width: 258px;
	height: 50px;
	background-color: #9ccc65;
	border-radius: 2px;
	display: block;
	margin: auto;
	text-align: center;
	color: #fff;
	font: 700 20px/52px $bebas;
	text-decoration: none;
	letter-spacing: 0.1em;
	transition: $transition;
	span {
		padding-right: 26px;
		background: url(../img/watch-ico.png) right center no-repeat;
	}
	&:hover {
		background: #8abb51;
	}
}

.crow {
	position: absolute;
}

.header-slider__item--first {
	.crow1 {
		top: 0;
		left: 250px;
		@media screen and (max-width: 1790px) {
			left: 150px;
		}
		@media screen and (max-width: 1360px) {
			left: 0;
		}
		@media screen and (max-width: 1000px) {
			display: none;
		}
	}
	.crow2 {
		bottom: 0;
		left: 50px;
		@media screen and (max-width: 1790px) {
			left: 0px;
		}
		@media screen and (max-width: 1000px) {
			display: none;
		}
	}
	.crow3 {
		bottom: 0;
		right: 150px;
		@media screen and (max-width: 1790px) {
			right: 0px;
		}
		@media screen and (max-width: 1000px) {
			display: none;
		}
	}
}

.header-slider__item--second {
	.text-side {
		padding-right: 450px;
		padding-left: 100px;
		@media screen and (max-width: 1360px) {
			padding-left: 140px;
			padding-right: 350px;
		}
		@media screen and (max-width: 1000px) {
			padding: 0;
		}
	}
	.description-slide {
		text-align: center;
		position: relative;
		padding-bottom: 100px;
		@media screen and (max-width: 1000px) {
			padding-bottom: 20px;
		}
	}
	.madeby {
		font: 26px/30px $lazy;
		color: #44424d;
		@media screen and (max-width: 1000px) {
			margin-top: 0;
			font-size: 22px;
			line-height: 24px;
		}
	}
	.book-title {
		margin: 30px 0 0;
		font: 45px $bask;
		color: #44424d;
		@media screen and (max-width: 1000px) {
			font-size: 30px;
		}
		span {
			display: block;
		}
		.sep {
			font-size: 24px;
			line-height: 15px;
			@media screen and (max-width: 1000px) {
				font-size: 20px;
			}
		}
		.big-title {
			font: 90px/90px $milio;
			color: #771010;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			@media screen and (max-width: 1000px) {
				font-size: 70px;
				line-height: 70px;
			}
		}
	}
	.book-img {
		position: absolute;
		right: 50px;
		top: 0;
		@media screen and (max-width: 1360px) {
			max-width: 360px;
			right: 0;
		}
		@media screen and (max-width: 1000px) {
			position: static;
			max-width: 100%;
			height: auto;
			display: block;
			margin: auto;
		}
	}
	.second__slide-links {
		text-align: center;
		p {
			margin: 0 0 15px;
			font: 14px $gotham;
			color: #44424d;
		}
		.btn--white {
			border-color: #9ccc65;
		}
	}
}

.header-slider__item--second {
	.crow4 {
		top: 0;
		left: 250px;
		@media screen and (max-width: 1790px) {
			left: 40px;
		}
		@media screen and (max-width: 1360px) {
			left: 0;
		}
		@media screen and (max-width: 1000px) {
			display: none;
		}
	}
	.crow5 {
		bottom: 0;
		left: 50px;
		@media screen and (max-width: 1790px) {
			left: 0;
		}
		@media screen and (max-width: 1000px) {
			display: none;
		}
	}
	.crow6 {
		bottom: 0;
		right: 150px;
		z-index: 1;
		@media screen and (max-width: 1790px) {
			right: 0;
		}
		@media screen and (max-width: 1000px) {
			display: none;
		}
	}
	@media screen and (max-width: 1000px) {
		.links-wrap {
			a {
				margin: 0 auto 15px;
			}
		}
	}
}

.header__madeby {
	margin-top: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&--item {
		width: 20%;
		&.rating {
			padding-left: 60px;
			background: url(../img/rating.png) left top no-repeat;
		}
	}
	span {
		display: block;
	}
	.heading {
		font: 300 12px $gotham;
		color: #333333;
		margin-bottom: 5px;
	}
	.description {
		font: 16px $bebas;
		text-transform: uppercase;
		color: #333333;
	}
}

.home-slider {
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-top: -40px;
	&__helper {
		background: url(../img/home-slider.jpg) bottom center no-repeat;
		transform: rotate(1deg);
		margin-left: -10px;
		padding-left: 10px;
		margin-top: 20px;
		padding-bottom: 80px;
		margin-bottom: 20px;
		@media screen and (max-width: 1000px) {
			padding-bottom: 50px;
		}
	}
	&__inner {
		transform: rotate(-1deg);
	}
	&__container {
		max-width: 1250px;
		margin: auto;
	}
	.trailer__title {
		text-transform: uppercase;
		text-align: center;
		margin: 80px 0 40px;
		color: #333333;
		font: 700 40px $bebas;
		letter-spacing: 0.05em;
		@media screen and (max-width: 1790px) {
			margin-top: 40px;
		}
		@media screen and (max-width: 1000px) {
			font-size: 30px;
			margin: 30px 0 20px;
		}
	}
}

.home-slider__trailer {
	padding: 0 55px;
	position: relative;
	&--inner {
		position: relative;
	}
	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.slider-item__container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 35px;
		height: 0;
		overflow: hidden;
	}
	.slider-item__title {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 15px 0;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		font: 700 20px $bebas;
		background: rgba(180, 215, 124, .8);
		letter-spacing: 0.05em;
		pointer-events: none;
		@media screen and (max-width: 1000px) {
			font-size: 16px;
			padding: 8px 0;
		}
	}
	.slick-arrow {
		position: absolute;
		font-size: 0px;
		text-indent: -9999px;
		width: 15px;
		height: 24px;
		top: 50%;
		transform: translateY(-50%);
		padding: 0;
		outline: 0;
		border: none;
		cursor: pointer;
		&.slick-prev {
			background: url(../img/trailer-slider-l.png);
			left: 10px;
			@media screen and (max-width: 1000px) {
				left: 5px;
			}
		}
		&.slick-next {
			background: url(../img/trailer-slider-r.png);
			right: 10px;
			@media screen and (max-width: 1000px) {
				right: 5px;
			}
		}
	}
	@media screen and (max-width: 1000px) {
		padding: 0 25px;
	}
}

.random-quote {
	position: absolute;
	width: 256px;
	text-align: center;
	color: #3f0da4;
	transform: rotate(-6deg);
	&__text {
		font: 32px/36px $lazy;
	}
	&__author {
		margin-top: 15px;
		font: 300 18px $gotham;
	}
	@media screen and (max-width: 1790px) {
		width: 170px;
		&__text {
			font: 20px/26px $lazy;
		}
	}
	@media screen and (max-width: 1360px) {
		display: none;
	}
}

.about {
	padding: 80px 0 30px;
	background: url(../img/header-paper.png) 50% 66% no-repeat;
	@media screen and (max-width: 1790px) {
		padding-top: 10px;
	}
	&__top {
		position: relative;
		.random-quote:first-of-type {
			bottom: 10px;
			@media screen and (max-width: 1790px) {
				left: -100px;
				bottom: -140px;
			}
		}
		.random-quote:nth-of-type(2) {
			right: 0;
			top: 54%;
			@media screen and (max-width: 1790px) {
				top: 50%;
				right: -100px;
			}
		}
	}
	&__description {
		font: 16px/28px $gotham;
		text-align: center;
		color: #333333;
		letter-spacing: 0.05em;
		@media screen and (max-width: 1000px) {
			font-size: 14px;
			line-height: 22px;
		}
	}
	.links-wrap {
		margin-top: 50px;
		text-align: center;
	}
	&__links {
		margin-top: 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media screen and (max-width: 1000px) {
			display: block;
			margin-top: 20px;
		}
		&--item {
			width: 48%;
			position: relative;
			text-decoration: none;
			@media screen and (max-width: 1000px) {
				display: block;
				width: 100%;
				margin-bottom: 20px;
				img {
					margin: auto;
				}
			}
			&.active {
				.about__links--item-description {
					background: rgba(255, 229, 120, .9);
					color: #333;
				}
			}
			&:hover {
				.about__links--item-description {
					background: rgba(255, 229, 120, .9);
					color: #333;
				}
			}
			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
			&-description {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background: rgba(180, 215, 124, .8);
				text-align: center;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #fff;
				font: 700 20px $bebas;
				padding: 10px 0;
				transition: $transition;
			}
		}
	}
}

.bordered__title {
	letter-spacing: 0.05em;
	font: 700 60px $bebas;
	text-transform: uppercase;
	text-align: center;
	span {
		position: relative;
		&::after,
		&::before {
			content: '';
			width: 200px;
			height: 2px;
			background: #44424d;
			position: absolute;
			top: 50%;
			margin-top: -1px;
		}
		&::after {
			right: -260px;
		}
		&::before {
			left: -260px;
		}
	}
	@media screen and (max-width: 1000px) {
		font-size: 35px;
		span {
			&::after,
			&::before {
				display: none;
			}
		}
	}
}

.persons {
	padding: 50px 0;
	position: relative;
	.crow5 {
		position: absolute;
		bottom: 100px;
		left: -100px;
		@media screen and (max-width: 1790px) {
			display: none;
		}
	}
	.random-quote {
		right: 0;
		top: 300px;
		&__text {
			font: 25px/27px $lazy;
		}
		@media screen and (max-width: 1790px) {
			display: none;
		}
	}
	&__title {
		text-align: center;
		font: 700 40px $bebas;
		margin: 30px 0;

	}
	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		@media screen and (max-width: 650px) {
			display: block;
		}
		.person__description {
			text-align: center;
			margin-top: 20px;
		}
		.person__name {
			font: 700 20px $bebas;
			margin: 0 0 5px;
		}
		.actor__name {
			font: 300 12px $gotham;
			margin: 0;
		}
		&-item {
			position: relative;
			display: inline-block;
			margin-bottom: 20px;
			@media screen and (max-width: 1790px) {
				max-width: 25%;
				img {
					display: block;
					max-width: 100%;
					height: auto;
				}
			}
			@media screen and (max-width: 1000px) {
				max-width: 100%;
				display: block;
				text-align: center;
			}
		}
		.frame__padding {
			padding: 21px;
			position: relative;
			height: 100%;
			overflow: hidden;
		}
		.frame-holder {
			position: relative;
			@media screen and (max-width: 1000px) {
				display: inline-block;
			}
			&__inner {
				position: absolute;
				overflow: hidden;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				.frame__holder {
					background-repeat: no-repeat;
					background-position: center center;
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 1;
					top: 0;
					left: 0;
					@media screen and (max-width: 1790px) {
						background-size: cover;
					}
				}
			}
		}
		.person-holder {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			overflow: hidden;
			&__img {
				max-width: 100%;
				height: auto;
				margin: auto;
				display: block;
				&.on-hover {
					display: none;
				}
			}
		}
		&-item:hover {
			.person-holder__img {
				display: none;
				&.on-hover {
					display: block;
				}
			}
		}
	}
	
}

.authors-wrapper {
	overflow: hidden;
}

.author__subheading {
	font: 700 40px $bebas;
	text-transform: uppercase;
	text-align: center;
	margin: 80px 0 30px;
}

.authors {
	background: url(../img/authors-bg.jpg) top center no-repeat;
	transform: rotate(1deg);
	margin: 20px 0 20px -10px;
	padding: 60px 0 60px 10px;
	@media screen and (max-width: 1000px) {
		background-size: cover;
	}
	.links-wrap {
		text-align: center;
	}
	&__inner {
		transform: rotate(-1deg);
	}
	&__title {
		letter-spacing: 0.05em;
		font: 700 60px $bebas;
		text-transform: uppercase;
		text-align: center;
		@media screen and (max-width: 1000px) {
			margin-top: 0;
			font-size: 35px;
		}
		span {
			position: relative;
			&::after,
			&::before {
				content: '';
				width: 200px;
				height: 2px;
				background: #44424d;
				position: absolute;
				top: 50%;
				margin-top: -1px;
			}
			&::after {
				right: -260px;
			}
			&::before {
				left: -260px;
			}
			@media screen and (max-width: 1000px) {
				&::after,
				&::before {
					display: none;
				}
			}
		}
	}
	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media screen and (max-width: 650px) {
			display: block;
		}
		&--item {
			width: 48%;
			margin: 0;
			font: 16px/24px $gotham;
			@media screen and (max-width: 650px) {
				width: 100%;
			}
		}
	}
	&__team {
		text-align: center;
		list-style-type: none;
		margin: 0 0 50px;
		padding: 0;
		li {
			margin-bottom: 12px;
		}
	}
	@media screen and (max-width: 1360px) {
		background-size: cover;
	}
}

.home-news {
	margin: 70px 0 0;
	@media screen and (max-width: 1000px) {
		margin-top: 20px;
	}
	&__title {
		font: 700 40px $bebas;
		text-align: center;
	}
	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		&-item {
			width: 20%;
			padding: 5px;
			position: relative;
			@media screen and (max-width: 1360px) {
				width: 25%;
			}
			@media screen and (max-width: 1000px) {
				width: 50%;
			}
			@media screen and (max-width: 650px) {
				width: 100%;
			}
			&:hover {
				.inner {
					transform: translateY(0);
				}
			}
			.holder {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: top center;
				overflow: hidden;
				height: 100%;
				position: relative;
				min-height: 380px;
			}
			.inner {
				position: absolute;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(151, 202, 155, .9);
				padding: 50px;
				display: flex;
				align-items: center;
				text-align: center;
				transform: translateY(100%);
				transition: $transition;
				.heading {
					font: 700 20px/24px $bebas;
					margin: 0 0 10px;
					text-transform: uppercase;
				}
				.descr {
					font: 300 12px/16px $gotham;
					margin: 0;
				}
			}
			.full-link {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
		}
	}
}

.home-subscribe {
	padding: 15px 0;
	background: #ffe578;
	text-align: center;
	&__inner {
		border-radius: 2px;
		background: #fff;
		margin: auto;
		padding: 10px 30px;
		display: inline-block;
		@media screen and (max-width: 650px) {
			display: block;
			padding: 10px 15px;
		}
	}
	.title {
		display: inline-block;
		vertical-align: middle;
		margin-right: 30px;
		font: 400 14px $gotham;
		@media screen and (max-width: 650px) {
			display: block;
			margin: 0 0 5px;
			line-height: 20px;
		}
	}
	
}

.site-footer {
	background: url(../img/header-paper.png) bottom center no-repeat;
	padding-top: 50px;
	&__wrapper {
		position: relative;
	}
	.random-quote:nth-of-type(1) {
		bottom: 80px;
		left: 0;
	}
	.random-quote:nth-of-type(2) {
		bottom: 100px;
		right: 0;
		transform: rotate(10deg);
		@media screen and (max-width: 1790px) {
			display: none;
		}
	}
	&__inner {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		&-col {
			width: 25%;
			padding: 0 20px 0 40px;
			@media screen and (max-width: 1000px) {
				width: 50%;
				padding: 0;
				&.last-col {
					background: none;
				}
			}
			&.last-col {
				background: url(../img/footer-crow.png) center bottom no-repeat;
			}
			.footer-logo {
				img {
					margin: auto;
					display: block;
					max-width: 100%;
					height: auto;
				}
				@media screen and (max-width: 1000px) {
					img {
						margin: 0;
					}
					
				}
			}
			.heading {
				margin: 0 0 40px;
				font: 700 20px $bebas;
				color: #44424d;
			}
			ul {
				list-style-type: none;
				margin: 0 0 30px;
				padding: 0;
				li {
					margin-bottom: 5px;
				}
				a {
					font: 400 14px $gotham;
					color: #4e5268;
					text-decoration: none;
					&:hover {
						color: #96ca9a;
					}
				}
			}
			.copyright,
			.footer-address {
				margin: 0 0 10px;
				font: 400 14px $gotham;
				color: #4e5268;
			}
			.footer-email,
			.footer-phone {
				margin: 0 0 10px;
				font: 400 14px $gotham;
				color: #4e5268;
				text-decoration: none;
			}
			.footer-address {
				margin-top: 10px;
				margin-bottom: 20px;
			}

		}
	}
}

.footer-bottom {
	border-top: 1px solid #101115;
	padding: 20px 0;
	p {
		font: 300 14px $gotham;
		color: #4e5268;
		margin: 0;
	}
	&__copyright {
		float: left;
	}
	&__madeby {
		float: right;
		a {
			color: #4dbc8c;
			font-size: 14px;
		}
	}
}

.pagination {
	font: 400 16px $bebas;
	text-transform: uppercase;
	margin: 40px 0;
	a {
		text-decoration: none;
		color: #333;
	}
	span {
		border-bottom: 1px solid #77d5ad;
		padding-bottom: 3px;
	}
	.separator {
		border: none;
		margin: 0 10px;
	}
}

.blog__news {
	background: url(../img/header-paper.png) bottom -90px center no-repeat;
	.links-wrap {
		text-align: center;
		margin-top: 30px;
	}
	.random-quote:nth-of-type(1) {
		left: 0;
		top: 200px;
	}
	.random-quote:nth-of-type(2) {
		right: 0;
		top: 500px;
		transform: rotate(8deg);
	}
	.random-quote:nth-of-type(3) {
		right: 0;
		top: 50%;
	}
	.random-quote__text {
		font-size: 27px;
	}
	.blog-crow2 {
		position: absolute;
		top: 60%;
		left: 0;
		max-width: 300px;
		height: auto;
	}
}

.blog__top {
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-top: -40px;
	&-helper {
		background: url(../img/home-slider.jpg) top center no-repeat;
		transform: rotate(1deg);
		margin-left: -10px;
		padding-left: 10px;
		margin-top: 20px;
		padding-bottom: 80px;
		margin-bottom: 20px;
		padding-top: 80px;
		@media screen and (max-width: 1000px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
	&-inner {
		transform: rotate(-1deg);
	}
	.description {
		line-height: 28px;
	}
}

.blog__inner {
	padding: 20px 0 40px;
	position: relative;
}

.blog__news-title {
	font: 700 40px $bebas;
	text-align: center;
	text-transform: uppercase;
	@media screen and (max-width: 1000px) {
		margin-top: 10px;
	}
}

.blog-big__item.blog__item {
	width: 100%;
	padding: 0;
	.blog__item-description {
		padding: 30px 120px;
	}
	.btn {
		margin: 0;
		float: right;
	}
	.description {
		margin-bottom: 30px;
	}
}

.blog__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 50px;
	.blog__item {
		width: 50%;
		&:nth-child(odd) {
			padding-right: 20px;
		}
		&:nth-child(even) {
			padding-left: 20px;
		}
	}
}

.blog__item {
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	&-description {
		padding: 30px 0;
	}
	.date {
		font: 400 12px $gotham;
		color: #4e5268;
	}
	.heading {
		margin: 5px 0 15px;
		font: 700 20px $bebas;
		a {
			color: #333;
			text-decoration: none;
		}
	}
	.description {
		font: 300 12px/21px $gotham;
	}
	.img-side {
		height: 270px;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		.full-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}

.authors__page {
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-top: -40px;
	&-helper {
		background: url(../img/authors-top.jpg) top no-repeat;
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
		margin-left: -10px;
		padding-left: 10px;
		margin-top: 20px;
		padding-bottom: 80px;
		margin-bottom: 20px;
		padding-top: 80px;
	}
	&-inner {
		transform: rotate(-1deg);
	}
}

.makers {
	padding-top: 40px;
	background: url(../img/header-paper.png) top center no-repeat;
	&__title {
		font: 700 40px bebas;
		text-align: center;
		text-transform: uppercase;
	}
	&__list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		max-width: 900px;
		margin: auto;
		&-item {
			text-align: center;
			width: 240px;
			margin-bottom: 15px;
			position: relative;
			img {
				display: block;
				max-width: 100%;
				height: auto;
				margin: 0 auto 15px;
			}
		}
	}
	.maker__name {
		font: 700 20px $bebas;
		text-transform: uppercase;
		margin: 0 0 5px;
	}
	.maker__position {
		margin: 0;
		font: 300 12px/18px $gotham;
	}
	.full-link {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	.links-wrap {
		margin-top: 50px;
		text-align: center;
	}
}

.actors-popup {
	max-width: 1140px;
	background: #fff;
	margin: auto;
	padding: 70px 135px;
	.actor__name {
		font: 700 40px $bebas;
		margin: 0 0 15px;
	}
	.actor__role {
		margin: 0;
		font: 300 12px $gotham;
	}
	.act-slider {
		margin: 35px 0;
	}
	p {
		font: 400 14px/22px $gotham;
	}
	.btn {
		margin: 0;
	}
}

.act-popup {
	.mfp-arrow {
		width: 20px;
		height: 30px;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		&.mfp-arrow-left {
			background: url(../img/popup-arr-l.png) no-repeat;
			left: 50px;
		}
		&.mfp-arrow-right {
			background: url(../img/popup-arr-r.png) no-repeat;
			right: 50px;
		}
	}
}

.single-slider__thumbs {
	padding: 0 20px;
	.slick-list {
		margin-left: -5px;
	}
	.img-wrap {
		margin: 0 5px;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		cursor: pointer;
		transition: $transition;
		&::after {
			transition: $transition;
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, .3);
		}
		&:hover::after {
			background: transparent;
		}
		&.video-thumb::after {
			background: url(../img/video-icon.png) center center no-repeat rgba(0, 0, 0, .2);
		}
		&.video-thumb:hover::after {
			background: url(../img/video-icon.png) center center no-repeat transparent;
		}
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -6px;
		border: none;
		outline: 0;
		background-color: transparent;
		cursor: pointer;
		font-size: 0px;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-position: center center;
		width: 8px;
		height: 12px;
	}
	.slick-prev {
		background-image: url(../img/arr-l.png);
		left: 0;
	}
	.slick-next {
		background-image: url(../img/arr-r.png);
		right: 0;
	}
}

.single-slider__view {
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 35px;
	height: 0;
	overflow: hidden;
	.single-video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.partners__page {
	background: url(../img/header-paper.png) top -20px center no-repeat;
	padding: 75px 0 150px;
	&-inner {
		position: relative;
	}
	& + .home-news {
		margin-top: -120px;
	}
	.random-quote:nth-of-type(1) {
		left: 0;
		top: 50px;
	}
	.random-quote:nth-of-type(2) {
		right: 0;
		bottom: 50px;
	}
	.blog-crow2 {
		position: absolute;
		left: -100px;
		bottom: -100px;
	}
}

.partners__list {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	&-item {
		position: relative;
		width: 25%;
		text-align: center;
		margin-bottom: 20px;
		.full-link {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	.img-wrap {
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: auto;
		}
	}
}

.book-page {
	margin-bottom: 100px;
	background: url(../img/header-paper.png) bottom 250px center no-repeat;
	&__inner {
		position: relative;
		.random-quote:nth-of-type(1) {
			top: 0;
			left: 0;
		}
		.random-quote:nth-of-type(2) {
			top: 40%;
			right: -50px;
		}
		.blog-crow2 {
			position: absolute;
			bottom: 0;
			left: -100px;
		}
	}
}

.book-slider__title {
	text-align: center;
	text-transform: uppercase;
	font: 700 40px $bebas;
}

.book-slider__container {
	max-width: 1250px;
	margin: auto;
}

.book-slider__inner,
.book-slider__data {
	padding: 0 55px;
	position: relative;
}

.book-slider__item {
	position: relative;
}

.book-slider__item-text {
	width: 100%;
	padding: 10px 0;
	background: rgba(156, 204, 101, .9);
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	text-align: center;
	font: 700 20px $bebas;
	color: #fff;
}

.book-slider  .slick-arrow {
	position: absolute;
	font-size: 0;
	text-indent: -9999px;
	width: 15px;
	height: 24px;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	outline: 0;
	border: none;
	cursor: pointer;
	&.slick-prev {
		background: url(../img/trailer-slider-l.png);
		left: 0;
	}
	&.slick-next {
		background: url(../img/trailer-slider-r.png);
		right: 0;
	}
}

.book-slider__thumbs {
	padding: 0 55px;
	position: relative;
	margin-top: 50px;
	.slick-slide {
		margin: 0 27px;
	}
	.slick-list {
		margin: 0 -27px;
	}
}

.book-slider__thumb {
	overflow: hidden;
	position: relative;
	text-align: center;
	.book-slider__img {
		position:relative;
		height: 235px;
		width: 100%;
		&-inner {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
		}
	}
	.heading {
		font: 700 20px $bebas;
		margin: 15px 0 10px;
	}
	.descr {
		margin: 0;
		font: 300 12px $gotham;
	}
}

.fragment {
	background: url(../img/fragment-ico.png) left center no-repeat;
	padding-left: 25px;
	padding-top: 3px;
	margin: 50px 0;
	a {
		font: 700 20px $bebas;
		color: #333;
	}
}

.book-slider__data-item {
	background-color: #ebebeb;
	background-image: url(../img/quote-open.png), url(../img/quote-close.png);
	background-repeat: no-repeat;
	background-position: left 70px top 45px, right 70px bottom 45px;
	padding: 50px 120px;
	.heading {
		font: 700 24px $bebas;
		text-transform: uppercase;
		margin-top: 0;
	}
	p {
		font: italic 16px $gotham;
	}
}

.book-offers {
	.small__title {
		font: 700 40px $bebas;
		text-align: center;
		text-transform: uppercase;
	}
	.offers__list {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		&-item {
			width: 240px;
		}
	}
	.links-wrap {
		text-align: center;
		margin-top: 50px;
	}
	.to-site {
		color: #333;
		border-color: #fff;
		&:hover {
			background: #fff;
		}
	}
}

.book-news {
	margin-top: 70px;
}


.trailer__top {
	.random-quote:nth-of-type(2) {
		top: 0;
	}
	.random-quote:first-of-type {
		bottom: auto;
		top: 0;
	}
	.about__links {
		margin-top: 30px;
	}
}

.simple__title {
	font: 700 40px $bebas;
	text-align: center;
	text-transform: uppercase;
}

.questions__list {
	list-style-type: none;
	margin: 0;
	li {
		margin-bottom: 20px;
		&.active {
			.description {
				display: block;
			}
		}
	}
	.heading {
		font: 700 24px $bebas;
		color: #333;
	}
	.description {
		display: none;
	}
}

.questions {
	background-position: bottom center;
}

.contacts__form {
	max-width: 900px;
	margin: 80px auto 0;
}

.contacts__form-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	input {
		background: #fff;
		background-color: white;
		border: 1px solid #4e5268;
		border-radius: 2px;
		height: 50px;
		display: block;
		outline: 0;
		font: 400 12px $gotham;
		line-height: normal;
		padding: 0 20px;
		width: 100%;
	}
	textarea {
		background: #fff;
		background-color: white;
		border: 1px solid #4e5268;
		border-radius: 2px;
		display: block;
		outline: 0;
		font: 400 12px $gotham;
		line-height: normal;
		padding: 20px;
		width: 100%;
		height: 280px;
		resize: none;
	}
}
.submit-row {
	text-align: right;
	input[type=submit] {
		margin: 0;
		cursor: pointer;
	}
}
.contacts__form-col {
	width: 48%;
}

.contacts__block {
	.description {
		text-align: center;
		max-width: 900px;
		margin: auto;
	}
	.links-wrap {
		text-align: center;
		margin-top: 40px;
	}
}

.contacts__block-list {
	list-style-type: none;
	display: flex;
	margin: 70px 0 0;
	flex-direction: row;
	justify-content: space-between;
	.heading {
		font: 700 24px $bebas;
		margin: 0 0 15px;
	}
	li {
		width: 255px;
	}
	p {
		font: 300 14px $gotham;
	}
}


.about__top {
	.description {
		text-align: center;
		max-width: 900px;
		margin: 20px auto;
	}
}

.frames {
	background: url(../img/header-paper.png) bottom -200px center no-repeat;
	padding-bottom: 70px;
	.about__links {
		flex-wrap: wrap;
		&--item {
			margin-bottom: 45px;
		}
	}
	.links-wrap {
		text-align: center;
	}
}

.frame__news {
	margin: 0;
	padding-top: 20px;
	background: url(../img/header-paper.png) top -705px center no-repeat;
}

.large-container__inner {
	position: relative;
	.random-quote:nth-of-type(1) {
		left: 0;
		top: 20%;
	}
	.random-quote:nth-of-type(2) {
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

.gallery__page {
	.about__links {
		flex-wrap: wrap;
		&--item {
			margin-bottom: 45px;
		}
	}
}

.gallery__page__list {
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	li {
		text-align: center;
		width: 240px;
		margin-bottom: 35px;
		position: relative;
	}
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto 15px;
	}
	.title {
		font: 700 20px $bebas;
		text-transform: uppercase;
		margin: 0 0 5px;
	}
	.description {
		margin: 0;
		font: 300 12px/18px $gotham;
	}
	.full-link {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

.gallery__tabs-wrapper {
	background: url(../img/header-paper.png) bottom -140px center no-repeat;
	padding-bottom: 130px;
}

.gallery__page--slider {
	margin-bottom: -40px;
	.home-slider__helper {
		margin-top: -30px;
	}
}

.gallery__tab-crow {
	position: absolute;
	bottom: 0;
	left: -100px;
	max-width: 400px;
}

.gallery__tabs__inner {
	position: relative;
	.random-quote {
		right: 0;
		bottom: 0;
		.random-quote__text {
			font: 24px/29px $lazy;
		}
	}
}

.gallery__page--tab {
	display: none;
	&.active {
		display: block;
	}
}

.gal-popup {
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
	}
}

.shooting__page {
	background-position: top 250px center;
}

.process__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 130px 0 0;
	&-item {
		width: 48%;
		margin-bottom: 30px;
		.title {
			font: 700 20px $bebas;
			text-transform: uppercase;
		}
		p {
			font: 300 12px/21px $gotham;
		}
	}
}



.history__page {
	.links-wrap {
		text-align: center;
		margin: 50px 0;
	}
	.description a {
		color: #fff;
	}
	.authors__page-helper {
		padding: 45px 0;
	}
}

.history__content {
	background: url(../img/header-paper.png) bottom center no-repeat;
	padding-bottom: 105px;
	p a {
		color: #5bb68f;
	}
	p {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	p.subheading {
		font: 700 20px $bebas;
		text-transform: uppercase;
	}
	&-inner {
		position: relative;
	}
	.blog-crow2 {
		position: absolute;
		top: 50%;
		left: -100px;
		max-width: 450px;
	}
	.random-quote:first-of-type {
		left: 0;
		top: 10%;
	}
	.random-quote:nth-of-type(2) {
		right: 0;
		top: 40%;
	}
}

.gallery__part {
	margin: 70px 0 30px;
	.gallery__page__list {
		margin-top: 30px;
	}
	.persons__list {
		padding: 0 50px;
	}
	.links-wrap {
		margin-top: 40px;
		text-align: center;
	}
}

.history__page-helper {
	background: url(../img/history-bg.jpg) bottom center no-repeat;
}

.gift-wrapper {
	img {
		float: left;
	}
	.gift-description {
		margin-left: 470px;
		margin-top: 50px;
	}
	.note {
		display: block;
		font-size: 14px;
		margin-top: 30px;
	}
	.links-wrap {
		text-align: left;
		margin-top: 10px;
	}
}

.announcement__title {
	text-align: center;
	font: 700 40px $bebas;
	margin: 0 0 50px;
}

.announcement__description {
	max-width: 900px;
	margin: auto;
	text-align: center;
	font: 16px/28px $gotham;
}

.announcement__form {
	max-width: 900px;
	margin: 50px auto 0;
	.links-wrap {
		text-align: center;
		margin: 50px 0 0;
		input {
			cursor: pointer;
		}
	}
}

.announcement__input-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	input {
		display: block;
		width: 48%;
		border: 1px solid #cccccc;
		outline: 0;
		height: 50px;
		background: #fff;
		padding: 0 20px;
		font-size: 12px;
	}
}

.calendar-wrapper {
	background: url(../img/header-paper.png) bottom -110px center no-repeat;
	padding: 75px 0 150px;
}

.calendar-wrapper__inner {
	position: relative;
	padding-top: 50px;
	.random-quote:nth-of-type(1) {
		top: 400px;
		left: 0;
	}
	.random-quote:nth-of-type(2) {
		top: 200px;
		right: 0;
	}
	.random-quote:nth-of-type(3) {
		bottom: 0;
		right: 0;
	}
	.blog-crow2 {
		position: absolute;
		max-width: 400px;
		bottom: 0;
		left: -80px;
	}
}
.calendar-wrapper+.home-news {
	margin-top: -120px;
}


.calendar__title {
	margin-bottom: 30px;
	.heading {
		float: left;
		font: 700 40px $bebas;
		margin: 0;
	}
	.links-wrap {
		float: left;
		margin-left: 30px;
		margin-top: 7px;
		a {
			display: inline-block;
			vertical-align: middle;
			width: 32px;
			height: 32px;
			background-repeat: no-repeat;
			margin: 0 5px;
			&.prev__link {
				background-image: url(../img/prev-link.png);
			}
			&.next__link {
				background-image: url(../img/next-link.png);
			}
		}
	}
}

.calendar__list-item {
	margin-bottom: 20px;
}

.calendar__item-top {
	padding: 30px;
	background: #ebebeb;
	border-radius: 3px;
	border-left: 5px solid transparent;
	transition: $transition;
	cursor: pointer;
	&:hover {
		background: #cbcee3;
	}
}

.calendar__img {
	display: block;
	float: left;
	border-radius: 5px;
}

.calendar__date {
	margin: 0 35px;
	float: left;
	text-align: center;
	span {
		display: block;
	}
	.day {
		font: 700 60px $bebas;
	}
	.month {
		font: 400 12px $gotham;
	}
}

.calendar__descr {
	float: left;
	margin-top: 10px;
	.title {
		margin: 0 0 10px;
		font: 700 24px $bebas;
	}
	span {
		font: 300 12px $gotham;
		display: inline-block;
		vertical-align: middle;
		padding-left: 20px;
	}
	.hour {
		background: url(../img/hour-small.png) left center no-repeat;
	}
	.loc {
		background: url(../img/loc-small.png) left center no-repeat;
		margin-left: 20px;
	}
	.pay {
		margin: 0;
		font-style: italic;
		font-weight: 300;
		font-size: 12px;
		font-family: $gotham;
	}
}

.calendar__item-content {
	display: none;
	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: auto;
	}
}

.big-date-wrapper {
	background: #f5f5f5;
	padding: 30px 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.big-date-col {
	width: 50%;
	p {
		margin: 0;
		font: 700 24px $bebas;
		text-transform: uppercase;
		padding-left: 50px;
		span {
			font: 300 12px $gotham;
			display: block;
			text-transform: none;
			margin-top: 12px;
		}
	}
	.big-date {
		background: url(../img/big-hour.png) left top no-repeat;
	}
	.big-loc {
		background: url(../img/big-loc.png) left top no-repeat;
	}

}



.map-area {
	height: 260px;
	background: #ccc;
	position: relative;
	.map {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
}

.social-area {
	background: #f5f5f5;
	padding: 30px 40px;
}


.calendar__list-item.active {
	border: 1px solid #cbcee3;
	border-radius: 3px;
	.calendar__item-content {
		display: block;
	}
}

.social__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		margin-right: 10px;
		display: inline-block;
		vertical-align: middle;
		width: 48px;
		height: 48px;
		position: relative;
		background: #ebebeb;
		border-radius: 50%;
		&:hover {
			background: #767989;
		}
		a {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 50%;
		}
		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&.fb {
			span {
				@include sprite($fb-ico);
			}
			&:hover {
				span {
					@include sprite($fb-ico-hover);
				}
			}
		}
		&.twit {
			span {
				@include sprite($twit-ico);
			}
			&:hover {
				span {
					@include sprite($twit-ico-hover);
				}
			}
		}
		&.in {
			span {
				@include sprite($in-ico);
			}
			&:hover {
				span {
					@include sprite($in-ico-hover);
				}
			}
		}
		&.gplus {
			span {
				@include sprite($gplus-ico);
			}
			&:hover {
				span {
					@include sprite($gplus-ico-hover);
				}
			}
		}
		&.pint {
			span {
				@include sprite($pint-ico);
			}
			&:hover {
				span {
					@include sprite($pint-ico-hover);
				}
			}
		}
		&.mail {
			span {
				@include sprite($email-ico);
			}
			&:hover {
				span {
					@include sprite($email-ico-hover);
				}
			}
		}
	}
}

@media screen and (max-width: 1000px) {
	.links-wrap {
		.btn {
			margin-bottom: 15px;
		}
	}
}









