@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";
@import "_slick.scss";

body {
	font: 16px/28px $gotham;
	color: #333333;
	background: #f8f6f3;
}

.site-header {
	background: url(../img/header-paper.png) center center no-repeat;
}

.large-container {
	padding: 0 110px;
	position: relative;
	&__inner {
		position: relative;
	}
}

.container {
	max-width: 1160px;
	margin: auto;
	padding: 0 10px;
}

.main-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 35px 0 0;
	padding: 0;
	list-style-type: none;
	a {
		text-transform: uppercase;
		color: #333333;
		font: 18px $bebas;
		letter-spacing: 0.1em;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: $transition;
	}
	a:hover {
		border-color: #77d5ad;
	}
}

.logo {
	position: absolute;
	left: 0;
	top: 20px;
}

.anonses-link {
	position: absolute;
	right: 0;
	top: 20px;
	display: block;
	width: 180px;
	height: 50px;
	background-color: #ffe578;
	border-radius: 2px;
	color: #333333;
	font: 20px/50px $bebas;
	letter-spacing: 0.1em;
	text-align: center;
	text-decoration: none;
	transition: $transition;
	&:hover {
		background-color: #f9d642;
	}
}











































