block footer

	footer.site-footer
		.large-container
			.site-footer__wrapper
				.random-quote
					.random-quote__text "Трогательный и честный получился фильм, с живыми персонажами..."
					.random-quote__author Мария А
				.random-quote
					.random-quote__text "Настоящее кино…"
					.random-quote__author Степан Д.
				.container
					.site-footer__inner
						.site-footer__inner-col
							a.footer-logo(href="#")
								img(src="img/logo.png", alt="")
						.site-footer__inner-col
							p.heading меню
							ul
								li
									a(href="#") О фильме
								li
									a(href="#") Синопсис и персонажи
								li
									a(href="#") О книжке
								li
									a(href="#") Авторы фильма
								li
									a(href="#") Актеры
								li
									a(href="#") Анонсы
								li
									a(href="#") Блог
								li
									a(href="#") Фотогалерея
								li
									a(href="#") Трейлер
								li
									a(href="#") Контакты
						.site-footer__inner-col
							p.heading мы в соцсетях
							ul
								li
									a(href="#") Facebook
								li
									a(href="#") В Контакте
								li
									a(href="#") Insagram
								li
									a(href="#") Twitter
								li
									a(href="#") Vimeo
								li
									a(href="#") YouTube
						.site-footer__inner-col.last-col
							p.heading контакты
							p.copyright © Студия Первый А
							a.footer-email(href="mailto:info@studia1a.ru") info@studia1a.ru
							p.footer-address Москва, Мосфильмовская 1
							a.footer-phone(href="tel:+7 910 000 5855") +7 910 000 5855

			.footer-bottom
				.container.cf
					p.footer-bottom__copyright Все права защищены © Студия Первый А
					p.footer-bottom__madeby Дизайн и разработка 
						a(href="belugalab.ru" target="_blank") Beluga Labs


							


