block header
	header.site-header
		.large-container
			.large-container__inner
				a.logo(href="#")
					img(src="img/logo.png", alt="")
				.container
					.menu-row.cf
						ul.main-menu
							li
								a(href="#") О фильме
							li
								a(href="#") Синопсис и персонажи
							li
								a(href="#") О книжке
							li
								a(href="#") Авторы фильма
							li
								a(href="#") Актеры
							li
								a(href="#") Блог
							li
								a(href="#") Фотогалерея
							li
								a(href="#") Трейлер
							li
								a(href="#") Контакты
							li
								a(href="#") Партнеры
				a.anonses-link(href="#") Анонсы фильма
