block header
	header.site-header
		.large-container
			.large-container__inner
				a.logo(href="#")
					img(src="img/logo.png", alt="")
				.container
					.menu-row.cf
						ul.main-menu
							li
								a(href="#") О фильме
							li
								a(href="#") Синопсис и персонажи
							li
								a(href="#") О книжке
							li
								a(href="#") Авторы фильма
							li
								a(href="#") Актеры
							li
								a(href="#") Блог
							li
								a(href="#") Фотогалерея
							li
								a(href="#") Трейлер
							li
								a(href="#") Контакты
							li
								a(href="#") Партнеры
				a.anonses-link(href="#") Анонсы фильма
			.header-slider
				.header-slider__item.cf.header-slider__item--first
					.crow.crow1
						img(src="img/crow1.png", alt="")
					.crow.crow2
						img(src="img/crow2.png", alt="")
					.crow.crow3
						img(src="img/crow3.png", alt="")
					p.header-slider__quote "Лучший фильм который я видел"
						span Петя, 7 лет
					.heading__img
						img(src="img/heading.png", alt="")
					h3.anons__heading в кинотеатрах с 20 марта 2017
					a.watch-trailer(href="#")
						span смотреть трейлер
				.header-slider__item.cf.header-slider__item--second
					.crow.crow4
						img(src="img/crow4.png", alt="")
					.crow.crow5
						img(src="img/crow5.png", alt="")
					.crow.crow6
						img(src="img/crow3.png", alt="")
					.container
						.description-slide.cf
							.text-side
								p.madeby Фильм снят по мотивам повести<br>А.Адабашьяна и А.Чернаковой
								h3.book-title Хрустальный ключ
									span.sep или
									span.big-title Жили-<br>были мы
							img.book-img(src="img/book-img.png", alt="")
						.second__slide-links
							p При покупке билета на фильм - 15% скидка на покупку книжки
							.links-wrap
								a.btn.btn--green(href="#") Купить книгу
								a.btn.btn--transparent(href="#") о книжке
			.header__madeby
				.header__madeby--item
					span.heading Жанр:
					span.description сказка, приключения, семейный
				.header__madeby--item
					span.heading Сценарий:
					span.description Александр Адабашьян<br>Анна Чернакова
				.header__madeby--item
					span.heading Режиссер-посановщик: 
					span.description Анна Чернакова
				.header__madeby--item
					span.heading Время показа: 
					span.description 1 час 38 минут
				.header__madeby--item.rating
					span.heading Рейтинг: 
					span.description Для семейного просмотра



















