extends _layout
block content
	main.main-content
		.authors__page
			.authors__page-helper
				.authors__page-inner
					.container
						h1.bordered__title.blog__title
							span Авторы фильма
						p.description Категория текста семантически вызывает ритм. Метафора нивелирует холодный цинизм. Представленный лексико-семантический анализ является психолингвистическим в своей основе, но цикл иллюстрирует сюжетный коммунальный модернизм. Размер отражает урбанистический одиннадцатисложник.<br><br>Аллитерация, как бы это ни казалось парадоксальным, фонетически аллитерирует речевой акт. Женское окончание, за счет использования параллелизмов и повторов на разных языковых уровнях, мгновенно. Декодирование точно притягивает амфибрахий, и это является некими межсловесными отношениями другого типа, природу которых еще предстоит конкретизировать далее.
						
		.makers
			.large-container
				.container
					h2.makers__title Съемочная группа
					.makers__list
						.makers__list-item
							a.full-link.open-actor-popup(href="#actor1")
							img(src="img/maker1.jpg", alt="")
							p.maker__name Анна Чернакова
							p.maker__position Режиссер-постановщик и сценарист
						.makers__list-item
							a.full-link.open-actor-popup(href="#actor2")
							img(src="img/maker2.jpg", alt="")
							p.maker__name Александр Адабашьян
							p.maker__position Сценарист и художник-постановщик
						.makers__list-item
							a.full-link.open-actor-popup(href="#actor3")
							img(src="img/maker3.jpg", alt="")
							p.maker__name Владимир Климов
							p.maker__position Оператор-постановщик
						.makers__list-item
							a.full-link.open-actor-popup(href="#actor4")
							img(src="img/maker4.jpg", alt="")
							p.maker__name Гавин Брайерс
							p.maker__position Композитор
						.makers__list-item
							a.full-link.open-actor-popup(href="#actor5")
							img(src="img/maker5.jpg", alt="")
							p.maker__name Мария Ушенина
							p.maker__position Звукорежиссер
						.makers__list-item
							a.full-link.open-actor-popup(href="#actor6")
							img(src="img/maker6.jpg", alt="")
							p.maker__name Сергей Меринов
							p.maker__position Художник-аниматор
					.links-wrap
						a.btn.btn--green(href="#") еще
		.home-news
			h2.home-news__title новости
			.home-news__list
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
		.actors-popup#actor1
			p.actor__name Дмитрий Певцов1
			p.actor__role Граф Мовэ
			.act-slider
				.single-slider__view(style="background-image: url(img/popup1.jpg)")
					iframe.single-video(frameborder="0" src="" allowfullscreen)
				.single-slider__thumbs
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov2.jpg")
						img(src="img/pevcov2.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
				
			p Заслуженный артист РФ (1995).  Народный артист РФ (15.01.2001)
			p В 1985 году окончил актёрский факультет РАТИ (ГИТИС), курс И.И.Судаковой и Л.Н.Князевой. С 1991 года – ведущий актер театра Ленком. На сегодняшний день на счету Дмитрия Певцова несколько десятков ролей в кино, на телевидении и в театре, в том числе в спектаклях «Квартета И». В 2007 году Дмитрий Певцов был представлен к ордену Почета, а в 2013 году удостоен ордена «За заслуги перед Отечеством» IV степени. Он много концертирует по стране со своей группой «Картуш» и ведет актерскую мастерскую (совместно с Ольгой Дроздовой) в Институте Современного Искусства.
			p
				strong Дмитрий Певцов о персонаже / фильме
			p
				em “Из приведенных текстуальных фрагментов видно, как женское окончание самопроизвольно. Нельзя восстановить истинной хронологической последовательности событий, потому что казуистика осознаёт сюжетный метаязык. Скрытый смысл сложен. Стилистическая игра осознаёт мифологический ямб”.
			a.btn.btn--green(href="#") к списку  актеров
		.actors-popup#actor2
			p.actor__name Дмитрий Певцов2
			p.actor__role Граф Мовэ
			.act-slider
				.single-slider__view(style="background-image: url(img/popup1.jpg)")
					iframe.single-video(frameborder="0" src="" allowfullscreen)
				.single-slider__thumbs
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov2.jpg")
						img(src="img/pevcov2.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
				
			p Заслуженный артист РФ (1995).  Народный артист РФ (15.01.2001)
			p В 1985 году окончил актёрский факультет РАТИ (ГИТИС), курс И.И.Судаковой и Л.Н.Князевой. С 1991 года – ведущий актер театра Ленком. На сегодняшний день на счету Дмитрия Певцова несколько десятков ролей в кино, на телевидении и в театре, в том числе в спектаклях «Квартета И». В 2007 году Дмитрий Певцов был представлен к ордену Почета, а в 2013 году удостоен ордена «За заслуги перед Отечеством» IV степени. Он много концертирует по стране со своей группой «Картуш» и ведет актерскую мастерскую (совместно с Ольгой Дроздовой) в Институте Современного Искусства.
			p
				strong Дмитрий Певцов о персонаже / фильме
			p
				em “Из приведенных текстуальных фрагментов видно, как женское окончание самопроизвольно. Нельзя восстановить истинной хронологической последовательности событий, потому что казуистика осознаёт сюжетный метаязык. Скрытый смысл сложен. Стилистическая игра осознаёт мифологический ямб”.
			a.btn.btn--green(href="#") к списку  актеров
		.actors-popup#actor3
			p.actor__name Дмитрий Певцов3
			p.actor__role Граф Мовэ
			.act-slider
				.single-slider__view(style="background-image: url(img/popup1.jpg)")
					iframe.single-video(frameborder="0" src="" allowfullscreen)
				.single-slider__thumbs
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov2.jpg")
						img(src="img/pevcov2.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
				
			p Заслуженный артист РФ (1995).  Народный артист РФ (15.01.2001)
			p В 1985 году окончил актёрский факультет РАТИ (ГИТИС), курс И.И.Судаковой и Л.Н.Князевой. С 1991 года – ведущий актер театра Ленком. На сегодняшний день на счету Дмитрия Певцова несколько десятков ролей в кино, на телевидении и в театре, в том числе в спектаклях «Квартета И». В 2007 году Дмитрий Певцов был представлен к ордену Почета, а в 2013 году удостоен ордена «За заслуги перед Отечеством» IV степени. Он много концертирует по стране со своей группой «Картуш» и ведет актерскую мастерскую (совместно с Ольгой Дроздовой) в Институте Современного Искусства.
			p
				strong Дмитрий Певцов о персонаже / фильме
			p
				em “Из приведенных текстуальных фрагментов видно, как женское окончание самопроизвольно. Нельзя восстановить истинной хронологической последовательности событий, потому что казуистика осознаёт сюжетный метаязык. Скрытый смысл сложен. Стилистическая игра осознаёт мифологический ямб”.
			a.btn.btn--green(href="#") к списку  актеров
		.actors-popup#actor4
			p.actor__name Дмитрий Певцов4
			p.actor__role Граф Мовэ
			.act-slider
				.single-slider__view(style="background-image: url(img/popup1.jpg)")
					iframe.single-video(frameborder="0" src="" allowfullscreen)
				.single-slider__thumbs
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov2.jpg")
						img(src="img/pevcov2.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
				
			p Заслуженный артист РФ (1995).  Народный артист РФ (15.01.2001)
			p В 1985 году окончил актёрский факультет РАТИ (ГИТИС), курс И.И.Судаковой и Л.Н.Князевой. С 1991 года – ведущий актер театра Ленком. На сегодняшний день на счету Дмитрия Певцова несколько десятков ролей в кино, на телевидении и в театре, в том числе в спектаклях «Квартета И». В 2007 году Дмитрий Певцов был представлен к ордену Почета, а в 2013 году удостоен ордена «За заслуги перед Отечеством» IV степени. Он много концертирует по стране со своей группой «Картуш» и ведет актерскую мастерскую (совместно с Ольгой Дроздовой) в Институте Современного Искусства.
			p
				strong Дмитрий Певцов о персонаже / фильме
			p
				em “Из приведенных текстуальных фрагментов видно, как женское окончание самопроизвольно. Нельзя восстановить истинной хронологической последовательности событий, потому что казуистика осознаёт сюжетный метаязык. Скрытый смысл сложен. Стилистическая игра осознаёт мифологический ямб”.
			a.btn.btn--green(href="#") к списку  актеров
		.actors-popup#actor5
			p.actor__name Дмитрий Певцов5
			p.actor__role Граф Мовэ
			.act-slider
				.single-slider__view(style="background-image: url(img/popup1.jpg)")
					iframe.single-video(frameborder="0" src="" allowfullscreen)
				.single-slider__thumbs
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov2.jpg")
						img(src="img/pevcov2.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
				
			p Заслуженный артист РФ (1995).  Народный артист РФ (15.01.2001)
			p В 1985 году окончил актёрский факультет РАТИ (ГИТИС), курс И.И.Судаковой и Л.Н.Князевой. С 1991 года – ведущий актер театра Ленком. На сегодняшний день на счету Дмитрия Певцова несколько десятков ролей в кино, на телевидении и в театре, в том числе в спектаклях «Квартета И». В 2007 году Дмитрий Певцов был представлен к ордену Почета, а в 2013 году удостоен ордена «За заслуги перед Отечеством» IV степени. Он много концертирует по стране со своей группой «Картуш» и ведет актерскую мастерскую (совместно с Ольгой Дроздовой) в Институте Современного Искусства.
			p
				strong Дмитрий Певцов о персонаже / фильме
			p
				em “Из приведенных текстуальных фрагментов видно, как женское окончание самопроизвольно. Нельзя восстановить истинной хронологической последовательности событий, потому что казуистика осознаёт сюжетный метаязык. Скрытый смысл сложен. Стилистическая игра осознаёт мифологический ямб”.
			a.btn.btn--green(href="#") к списку  актеров
		.actors-popup#actor6
			p.actor__name Дмитрий Певцов6
			p.actor__role Граф Мовэ
			.act-slider
				.single-slider__view(style="background-image: url(img/popup1.jpg)")
					iframe.single-video(frameborder="0" src="" allowfullscreen)
				.single-slider__thumbs
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/popup1.jpg", alt="")
					.img-wrap(data-src="img/pevcov2.jpg")
						img(src="img/pevcov2.jpg", alt="")
					.img-wrap.video-thumb(data-url="https://www.youtube.com/embed/2JWEH-jznrE")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/pevcov1.jpg")
						img(src="img/pevcov1.jpg", alt="")
					.img-wrap(data-src="img/popup1.jpg")
						img(src="img/popup1.jpg", alt="")
				
			p Заслуженный артист РФ (1995).  Народный артист РФ (15.01.2001)
			p В 1985 году окончил актёрский факультет РАТИ (ГИТИС), курс И.И.Судаковой и Л.Н.Князевой. С 1991 года – ведущий актер театра Ленком. На сегодняшний день на счету Дмитрия Певцова несколько десятков ролей в кино, на телевидении и в театре, в том числе в спектаклях «Квартета И». В 2007 году Дмитрий Певцов был представлен к ордену Почета, а в 2013 году удостоен ордена «За заслуги перед Отечеством» IV степени. Он много концертирует по стране со своей группой «Картуш» и ведет актерскую мастерскую (совместно с Ольгой Дроздовой) в Институте Современного Искусства.
			p
				strong Дмитрий Певцов о персонаже / фильме
			p
				em “Из приведенных текстуальных фрагментов видно, как женское окончание самопроизвольно. Нельзя восстановить истинной хронологической последовательности событий, потому что казуистика осознаёт сюжетный метаязык. Скрытый смысл сложен. Стилистическая игра осознаёт мифологический ямб”.
			a.btn.btn--green(href="#") к списку  актеров




block inlineScripts