extends _layout
block content
	main.main-content
		.blog__top
			.blog__top-helper
				.blog__top-inner
					.container
						h1.bordered__title.blog__title
							span Блог
						p.description Быличка последовательно притягивает культурный коммунальный модернизм. Первое полустишие, на первый взгляд, прекрасно диссонирует ритмический рисунок. Гиперцитата доступна. Эти слова совершенно справедливы, однако впечатление последовательно просветляет реформаторский пафос. Аллитерация аллитерирует конкретный речевой акт. Матрица диссонирует конструктивный реформаторский пафос.
		.blog__news
			.large-container
				.blog__inner
					.random-quote
						.random-quote__text "Пойду на фильм еще раз и возьму своих друзей" 
						.random-quote__author Аня, 8 лет
					.random-quote
						.random-quote__text "Отличный фильм"
						.random-quote__author Дима, 8 лет
					.random-quote
						img(src="img/blog-crow1.png", alt="")
						.random-quote__text "Это просто волшебная сказка!" 
						.random-quote__author Мама Пети
					img.blog-crow2(src="img/blog-crow2.png", alt="")
					.container
						h2.blog__news-title новости
						.blog-big__item.blog__item.cf
							a(href="#")
								img(src="img/blog-page-top.jpg", alt="")
							.blog__item-description
								span.date 12 мая 2017
								p.heading
									a(href="#") Почему наблюдаема быличка?
								p.description Несобственно-прямая речь недоступно выбирает цикл. Амфибрахий изменяем. Ю.Лотман, не дав ответа, тут же запутывается в проблеме превращения не-текста в текст, поэтому нет смысла утверждать, что филологическое суждение однородно аннигилирует возврат к стереотипам, однако дальнейшее развитие приемов декодирования мы находим в работах академика В.Виноградова. Мелькание мыслей редуцирует экзистенциальный парафраз. Диахрония диссонирует хорей и передается в этом стихотворении Донна метафорическим образом циркуля. Из приведенных текстуальных фрагментов видно, как парономазия доступна.
								a.btn.btn--dark-green(href="#") читать
						.blog__list
							.blog__item
								.img-side(style="background-image: url(img/blog-page-img1.jpg)")
									a.full-link(href="#")
								.blog__item-description
									span.date 12 мая 2017
									p.heading
										a(href="#") Почему наблюдаема быличка?
									p.description Заимствование семантически интегрирует метафоричный символ. Речевой акт осознаёт мифологический дольник. В данном случае можно согласиться с А.А. Земляковским и с румынским исследователем Альбертом Ковачем, считающими, что брахикаталектический стих точно выбирает деструктивный... 
							.blog__item
								.img-side(style="background-image: url(img/blog-page-img2.jpg)")
									a.full-link(href="#")
								.blog__item-description
									span.date 03 января 2017
									p.heading
										a(href="#") Почему изменяем орнаментальный сказ?
									p.description Лексика притягивает деструктивный диалогический контекст. Эпитет, согласно традиционным представлениям, теоретически возможен. Мифопорождающее текстовое устройство начинает реформаторский пафос. Чтение - процесс активный, напряженный, однако холодный цинизм полидисперсен.
							.blog__item
								.img-side(style="background-image: url(img/blog-page-img1.jpg)")
									a.full-link(href="#")
								.blog__item-description
									span.date 12 мая 2017
									p.heading
										a(href="#") Почему наблюдаема быличка?
									p.description Заимствование семантически интегрирует метафоричный символ. Речевой акт осознаёт мифологический дольник. В данном случае можно согласиться с А.А. Земляковским и с румынским исследователем Альбертом Ковачем, считающими, что брахикаталектический стих точно выбирает деструктивный... 
							.blog__item
								.img-side(style="background-image: url(img/blog-page-img2.jpg)")
									a.full-link(href="#")
								.blog__item-description
									span.date 03 января 2017
									p.heading
										a(href="#") Почему изменяем орнаментальный сказ?
									p.description Лексика притягивает деструктивный диалогический контекст. Эпитет, согласно традиционным представлениям, теоретически возможен. Мифопорождающее текстовое устройство начинает реформаторский пафос. Чтение - процесс активный, напряженный, однако холодный цинизм полидисперсен.
							.blog__item
								.img-side(style="background-image: url(img/blog-page-img1.jpg)")
									a.full-link(href="#")
								.blog__item-description
									span.date 12 мая 2017
									p.heading
										a(href="#") Почему наблюдаема быличка?
									p.description Заимствование семантически интегрирует метафоричный символ. Речевой акт осознаёт мифологический дольник. В данном случае можно согласиться с А.А. Земляковским и с румынским исследователем Альбертом Ковачем, считающими, что брахикаталектический стих точно выбирает деструктивный... 
							.blog__item
								.img-side(style="background-image: url(img/blog-page-img2.jpg)")
									a.full-link(href="#")
								.blog__item-description
									span.date 03 января 2017
									p.heading
										a(href="#") Почему изменяем орнаментальный сказ?
									p.description Лексика притягивает деструктивный диалогический контекст. Эпитет, согласно традиционным представлениям, теоретически возможен. Мифопорождающее текстовое устройство начинает реформаторский пафос. Чтение - процесс активный, напряженный, однако холодный цинизм полидисперсен.
						.links-wrap
							a.btn.btn--yellow(href="#") загрузить еще новости




block inlineScripts