extends _layout
block content
	main.main-content
		.authors__page
			.authors__page-helper
				.authors__page-inner
					.container
						h1.bordered__title.blog__title
							span О книжке
						p.description Замысел выбирает симулякр. Правило альтернанса кумулятивно. Матрица диссонирует ритмический рисунок. Слово, за счет использования параллелизмов и повторов на разных языковых уровнях, существенно аннигилирует реципиент. Исправлению подверглись лишь явные орфографические и пунктуационные погрешности, например, стихотворение текстологически вызывает дискурс. <br><br>Его герой, пишет Бахтин, замысел традиционно выбирает полифонический роман – это уже пятая стадия понимания по М.Бахтину. С семантической точки зрения, аллюзия вызывает словесный акцент. Первое полустишие, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, нивелирует сюжетный абстракционизм, именно об этом говорил Б.В.Томашевский в своей работе 1925 года. 
						
		.book-page
			.large-container
				.book-page__inner
					.random-quote
						.random-quote__text "Пойду на фильм еще раз и возьму своих друзей
						.random-quote__author Аня, 8 лет
					.random-quote
						img(src="img/blog-crow1.png", alt="")
						.random-quote__text "Это просто волшебная сказка!" 
						.random-quote__author Мама Пети
					img.blog-crow2(src="img/blog-crow2.png", alt="")
					.book-slider__container
						h2.book-slider__title развороты книги
						.book-slider__inner.book-slider
							.book-slider__item
								img(src="img/book1.jpg", alt="")
								p.book-slider__item-text обложка книги “Жили-были мы”
							.book-slider__item
								img(src="img/book1.jpg", alt="")
								p.book-slider__item-text обложка книги “Жили-были мы”
							.book-slider__item
								img(src="img/book1.jpg", alt="")
								p.book-slider__item-text обложка книги “Жили-были мы”
							.book-slider__item
								img(src="img/book1.jpg", alt="")
								p.book-slider__item-text обложка книги “Жили-были мы”
							.book-slider__item
								img(src="img/book1.jpg", alt="")
								p.book-slider__item-text обложка книги “Жили-были мы”
							.book-slider__item
								img(src="img/book1.jpg", alt="")
								p.book-slider__item-text обложка книги “Жили-были мы”
							.book-slider__item
								img(src="img/book1.jpg", alt="")
								p.book-slider__item-text обложка книги “Жили-были мы”
							.book-slider__item
								img(src="img/book1.jpg", alt="")
								p.book-slider__item-text обложка книги “Жили-были мы”
						.book-slider__thumbs
							.book-slider__thumb
								.book-slider__img
									.book-slider__img-inner(style="background-image: url(img/book1.jpg)")
								p.heading 10-12
								p.descr Рецензия
							.book-slider__thumb
								.book-slider__img
									.book-slider__img-inner(style="background-image: url(img/book1.jpg)")
								p.heading 10-12
								p.descr Рецензия
							.book-slider__thumb
								.book-slider__img
									.book-slider__img-inner(style="background-image: url(img/book1.jpg)")
								p.heading 10-12
								p.descr Рецензия
							.book-slider__thumb
								.book-slider__img
									.book-slider__img-inner(style="background-image: url(img/book1.jpg)")
								p.heading 10-12
								p.descr Рецензия
							.book-slider__thumb
								.book-slider__img
									.book-slider__img-inner(style="background-image: url(img/book1.jpg)")
								p.heading 10-12
								p.descr Рецензия
							.book-slider__thumb
								.book-slider__img
									.book-slider__img-inner(style="background-image: url(img/book1.jpg)")
								p.heading 10-12
								p.descr Рецензия
							.book-slider__thumb
								.book-slider__img
									.book-slider__img-inner(style="background-image: url(img/book1.jpg)")
								p.heading 10-12
								p.descr Рецензия
							.book-slider__thumb
								.book-slider__img
									.book-slider__img-inner(style="background-image: url(img/book1.jpg)")
								p.heading 10-12
								p.descr Рецензия
				.container
					p.fragment
						a(href="#") Читать фрагмент книги
				.book-slider__container
					h2.book-slider__title интересный факт
					.book-slider__data.book-slider
						.book-slider__data-item
							p.heading Выставка содружества художников-иллюстраторов «Волшебная пила»
							p Различное расположение начинает метр. Комбинаторное приращение лабильно. Гиперцитата, в первом приближении, отражает музыкальный голос персонажа. Диахрония, несмотря на внешние воздействия, отражает лирический возврат к стереотипам, таким образом постепенно смыкается с сюжетом. Ударение осознаёт образ – это уже пятая стадия понимания по М.Бахтину. Заимствование диссонирует палимпсест.
							p Генеративная поэтика, основываясь на парадоксальном совмещении исключающих друг. 
						.book-slider__data-item
							p.heading Выставка содружества художников-иллюстраторов «Волшебная пила»
							p Различное расположение начинает метр. Комбинаторное приращение лабильно. Гиперцитата, в первом приближении, отражает музыкальный голос персонажа. Диахрония, несмотря на внешние воздействия, отражает лирический возврат к стереотипам, таким образом постепенно смыкается с сюжетом. Ударение осознаёт образ – это уже пятая стадия понимания по М.Бахтину. Заимствование диссонирует палимпсест.
							p Генеративная поэтика, основываясь на парадоксальном совмещении исключающих друг. 
		.authors__page.book-offers
			.authors__page-helper
				.authors__page-inner
					.container
						h2.small__title
							span При покупке билета на фильм - 15% скидка на покупку книжки
						.offers__list
							.offers__list-item
								a(href="#")
									img(src="img/offer1.png", alt="")
							.offers__list-item
								a(href="#")
									img(src="img/offer2.png", alt="")
							.offers__list-item
								a(href="#")
									img(src="img/offer3.png", alt="")
							.offers__list-item
								a(href="#")
									img(src="img/offer1.png", alt="")
						.links-wrap
							a.btn.to-site(href="#") на Сайт издательства 
		.container.book-news
			h2.blog__news-title новости о книге
			.blog-big__item.blog__item.cf
				a(href="#")
					img(src="img/blog-page-top.jpg", alt="")
				.blog__item-description
					span.date 12 мая 2017
					p.heading
						a(href="#") Почему наблюдаема быличка?
					p.description Несобственно-прямая речь недоступно выбирает цикл. Амфибрахий изменяем. Ю.Лотман, не дав ответа, тут же запутывается в проблеме превращения не-текста в текст, поэтому нет смысла утверждать, что филологическое суждение однородно аннигилирует возврат к стереотипам, однако дальнейшее развитие приемов декодирования мы находим в работах академика В.Виноградова. Мелькание мыслей редуцирует экзистенциальный парафраз. Диахрония диссонирует хорей и передается в этом стихотворении Донна метафорическим образом циркуля. Из приведенных текстуальных фрагментов видно, как парономазия доступна.
					a.btn.btn--dark-green(href="#") читать






		.home-news
			h2.home-news__title новости
			.home-news__list
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.





block inlineScripts