extends _layout
block content
	main.main-content
		.authors__page.gallery__top
			.authors__page-helper
				.authors__page-inner
					.container
						h1.bordered__title
							span Фотогалерея 
						p.description Поток сознания дает стих. Существующая орфографическая символика никак не приспособлена для задач письменного воспроизведения смысловых нюансов устной речи, однако мелькание мыслей представляет собой поэтический амфибрахий. Поэт инстинктивно чувствовал преимущества реального устного исполнения тех стихов, в которых цикл выбирает парафраз.
						
		.gallery__page
			.large-container
				.large-container__inner
					.random-quote
						.random-quote__text "Пойду на фильм еще раз и возьму своих друзей
						.random-quote__author Аня, 8 лет
					.random-quote
						img(src="img/blog-crow1.png", alt="")
						.random-quote__text "Это просто волшебная сказка!" 
						.random-quote__author Мама Пети
					.container
						.about__links
							a.about__links--item.active(href="#")
								img(src="img/about-link1.jpg", alt="")
								span.about__links--item-description кадры из фильма
							a.about__links--item(href="#")
								img(src="img/about-link2.jpg", alt="")
								span.about__links--item-description подготовительный период
							a.about__links--item(href="#")
								img(src="img/about-link1.jpg", alt="")
								span.about__links--item-description эскизы костюмов
							a.about__links--item(href="#")
								img(src="img/about-link2.jpg", alt="")
								span.about__links--item-description эскизы декораций
							a.about__links--item(href="#")
								img(src="img/about-link1.jpg", alt="")
								span.about__links--item-description фото с площадки
							a.about__links--item(href="#")
								img(src="img/about-link2.jpg", alt="")
								span.about__links--item-description монтажно-тонировочный период
		.gallery__tabs-wrapper
			.large-container
				.gallery__tabs__inner
					.random-quote
						img(src="img/blog-crow1.png", alt="")
						.random-quote__text "Это просто волшебная сказка!" 
						.random-quote__author Мама Пети
					img.gallery__tab-crow(src="img/blog-crow2.png", alt="")
					.container
						.gallery__page-tabs
							.gallery__page--tab.active
								h3.simple__title Кадры из фильма
								ul.gallery__page__list
									li
										a.full-link.open-actor-popup(href="#gal1")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link.open-actor-popup(href="#gal2")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link.open-actor-popup(href="#gal3")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link.open-actor-popup(href="#gal4")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link.open-actor-popup(href="#gal5")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link.open-actor-popup(href="#gal6")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link.open-actor-popup(href="#gal7")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link.open-actor-popup(href="#gal8")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
							.gallery__page--tab
								h3.simple__title подготовительный период
								ul.gallery__page__list
									li
										a.full-link(href="#")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link(href="#")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link(href="#")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link(href="#")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link(href="#")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link(href="#")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link(href="#")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”
									li
										a.full-link(href="#")
										img(src="img/eskiz1.png", alt="")
										p.title Галя нарядная
										p.description Эскиз для сцены “Около дома”

		.home-slider.gallery__page--slider
			.home-slider__helper
				.home-slider__inner
					.home-slider__container.cf
						h3.trailer__title трейлеры
						.home-slider__trailer
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/TS-G4UQTfUo", frameborder="0")
								.slider-item__title трейлер #1
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/GTWqwSNQCcg", frameborder="0")
								.slider-item__title трейлер #2
		.home-news.frame__news
			h2.home-news__title новости
			.home-news__list
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
		.gal-popup#gal1.mfp-hide
			img(src="img/popup1.jpg", alt="")
		.gal-popup#gal2.mfp-hide
			img(src="img/popup1.jpg", alt="")
		.gal-popup#gal3.mfp-hide
			img(src="img/popup1.jpg", alt="")
		.gal-popup#gal4.mfp-hide
			img(src="img/popup1.jpg", alt="")
		.gal-popup#gal5.mfp-hide
			img(src="img/popup1.jpg", alt="")
		.gal-popup#gal6.mfp-hide
			img(src="img/popup1.jpg", alt="")
		.gal-popup#gal7.mfp-hide
			img(src="img/popup1.jpg", alt="")
		.gal-popup#gal8.mfp-hide
			img(src="img/popup1.jpg", alt="")




block inlineScripts