extends _layout
block content
	main.main-content
		.home-slider
			.home-slider__helper
				.home-slider__inner
					.home-slider__container.cf
						h3.trailer__title трейлер
						.home-slider__trailer
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/TS-G4UQTfUo", frameborder="0")
								.slider-item__title трейлер #1
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/GTWqwSNQCcg", frameborder="0")
								.slider-item__title трейлер #2





block inlineScripts