extends _layout
block content
	main.main-content
		.home-slider
			.home-slider__helper
				.home-slider__inner
					.home-slider__container.cf
						h3.trailer__title трейлер
						.home-slider__trailer
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/TS-G4UQTfUo", frameborder="0")
								.slider-item__title трейлер #1
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/GTWqwSNQCcg", frameborder="0")
								.slider-item__title трейлер #2
		.about
			.large-container
				.about__top
					.random-quote
						.random-quote__text "Пойду на фильм еще раз и возьму своих друзей" 
						.random-quote__author Аня, 8 лет
					.random-quote
						.random-quote__text "Отличный фильм"
						.random-quote__author Дима, 8 лет
					.container
						h2.bordered__title
							span о фильме
						p.about__description Однажды утром родители шестилетней Маруськи ссорятся, и мама уезжает. Папа решает тоже уехать куда-нибудь далеко-далеко и зовет Маруську с собой. Но девочка верит, что мама их любит и обязательно вернется. Чтобы оттянуть отъезд, она придумывает сказку про то, как мама, ещё школьницей – Санькой -  отправилась в опасное приключение в прошлое выручать папу – тогда мальчика – из беды….  В Маруськиной сказке мама-Санька переживает опасные приключения: в XIX веке поднимает Александрийский столп, в XVII спасает юного царя Петра Первого из плена, в XV веке строит церковь, с которой начнётся их родной город. А еще – спасается от увязавшегося за ней злодея Мовэ… И, в результате, случается чудо…
						.links-wrap
							a.btn.btn--green(href="#") подробнее о фильме
							a.btn.btn--black(href="#") О книжке
						.about__links
							a.about__links--item(href="#")
								img(src="img/about-link1.jpg", alt="")
								span.about__links--item-description кадры из фильма
							a.about__links--item(href="#")
								img(src="img/about-link2.jpg", alt="")
								span.about__links--item-description за кадром
				.persons
					img.crow5(src="img/crow5.png", alt="")
					.random-quote
						img(src="img/blog-crow1.png", alt="")
						.random-quote__text "Это просто волшебная сказка!" 
						.random-quote__author Мама Пети
					.container
						h3.persons__title персонажи
						.persons__list
							.persons__list-item
								.frame-holder
									img(src="img/frame_1.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_1.png)")
											.person-holder
												img.person-holder__img(src="img/person1.jpg", alt="")
												img.person-holder__img.on-hover(src="img/person2.jpg", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_2.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_2.png)")
											.person-holder
												img.person-holder__img(src="img/person1.jpg", alt="")
												img.person-holder__img.on-hover(src="img/person2.jpg", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_3.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_3.png)")
											.person-holder(style="border-radius: 75px;")
												img.person-holder__img(src="http://lorempixel.com/400/800/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/400/801/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_4.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_4.png)")
											.person-holder
												img.person-holder__img(src="http://lorempixel.com/800/600/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/500/401/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_5.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_5.png)")
											.person-holder
												img.person-holder__img(src="http://lorempixel.com/500/360/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/520/372/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_6.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_6.png)")
											.person-holder
												img.person-holder__img(src="http://lorempixel.com/600/800/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/400/701/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_7.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_7.png)")
											.person-holder(style="border-radius: 75px;")
												img.person-holder__img(src="http://lorempixel.com/400/402/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/500/504/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_8.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_8.png)")
											.person-holder
												img.person-holder__img(src="http://lorempixel.com/701/1000/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/406/801/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_5.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_5.png)")
											.person-holder
												img.person-holder__img(src="http://lorempixel.com/500/360/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/520/372/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_6.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_6.png)")
											.person-holder
												img.person-holder__img(src="http://lorempixel.com/600/800/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/400/701/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_7.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_7.png)")
											.person-holder(style="border-radius: 75px;")
												img.person-holder__img(src="http://lorempixel.com/400/402/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/500/504/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 
							.persons__list-item
								.frame-holder
									img(src="img/frame_8.png", alt="" style="visibility:hidden")
									.frame-holder__inner
										.frame__padding
											.frame__holder(style="background-image: url(../img/frame_8.png)")
											.person-holder
												img.person-holder__img(src="http://lorempixel.com/701/1000/", alt="")
												img.person-holder__img.on-hover(src="http://lorempixel.com/406/801/", alt="")
								.person__description
									p.person__name Маруська
									p.actor__name Соня Галишникова 

		.authors-wrapper
			.authors.cf
				.authors__inner
					.container
						h2.authors__title
							span Авторы фильма
						.authors__top
							p.authors__top--item 
								strong Анна Чернакова 
								| закончила ВГИК им. С.А. Герасимова (мастерская М.М. Хуциева) и известна зрителям по таким фильмам, как «Сезон туманов» и «Собачий рай». Ее работы удостоены наградами и призами многих кинофестивалей. Фильм «Жили-были мы» - новая работа режиссера в жанре семейного кино.  
							p.authors__top--item
								strong Александр Адабашьян 
								| уже более 40 лет работает в отечественном кино как сценарист, художник-постановщик и актер. В его фильмографии такие фильмы как «Раба любви», «Неоконченная пьеса для механического пианино», «Родня», «Выигрыш одинокого коммерсанта», «Мадо, до востребования», «Шерлок Холмс», «Отцы и дети», «Собачий рай» и другие.
						h3.author__subheading КОМАНДА
						ul.authors__team
							li Оператор-постановщик — 
								strong Владимир Климов
							li Звукорежиссер — 
								strong Мария Ушенина
							li Художник-аниматор — 
								strong Сергей Меринов
							li Художник по костюмам — 
								strong Анастасия Образцова
							li Художник по гриму — 
								strong Татьяна Коломицева
							li Музыка — 
								strong Гавин Брайерс
						.links-wrap
							a.btn.btn--white(href="#") подробнее
		.home-news
			h2.home-news__title новости
			.home-news__list
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
		.home-subscribe
			.home-subscribe__inner
				.title Хочешь первым узнавать новости о фильме?
				a.btn.btn--dark-green(href="#") Подписаться










block inlineScripts