extends _layout
block content
	main.main-content
		.home-slider
			.home-slider__helper
				.home-slider__inner
					.home-slider__container.cf
						h3.trailer__title трейлер
						.home-slider__trailer
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/TS-G4UQTfUo", frameborder="0")
								.slider-item__title трейлер #1
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/GTWqwSNQCcg", frameborder="0")
								.slider-item__title трейлер #2
		.about
			.large-container
				.about__top
					.random-quote
						.random-quote__text "Пойду на фильм еще раз и возьму своих друзей" 
						.random-quote__author Аня, 8 лет
					.random-quote
						.random-quote__text "Отличный фильм"
						.random-quote__author Дима, 8 лет
					.container
						h2.about__title
							span о фильме
						p.about__description Однажды утром родители шестилетней Маруськи ссорятся, и мама уезжает. Папа решает тоже уехать куда-нибудь далеко-далеко и зовет Маруську с собой. Но девочка верит, что мама их любит и обязательно вернется. Чтобы оттянуть отъезд, она придумывает сказку про то, как мама, ещё школьницей – Санькой -  отправилась в опасное приключение в прошлое выручать папу – тогда мальчика – из беды….  В Маруськиной сказке мама-Санька переживает опасные приключения: в XIX веке поднимает Александрийский столп, в XVII спасает юного царя Петра Первого из плена, в XV веке строит церковь, с которой начнётся их родной город. А еще – спасается от увязавшегося за ней злодея Мовэ… И, в результате, случается чудо…
						.links-wrap
							a.btn.btn--green(href="#") подробнее о фильме
							a.btn.btn--black(href="#") О книжке
						.about__links
							a.about__links--item(href="#")
								img(src="img/about-link1.jpg", alt="")
								span.about__links--item-description кадры из фильма
							a.about__links--item(href="#")
								img(src="img/about-link2.jpg", alt="")
								span.about__links--item-description за кадром
		.authors-wrapper
			.authors.cf
				.authors__inner
					.container
						h2.authors__title
							span Авторы фильма
						.authors__top
							p.authors__top--item 
								strong Анна Чернакова 
								| закончила ВГИК им. С.А. Герасимова (мастерская М.М. Хуциева) и известна зрителям по таким фильмам, как «Сезон туманов» и «Собачий рай». Ее работы удостоены наградами и призами многих кинофестивалей. Фильм «Жили-были мы» - новая работа режиссера в жанре семейного кино.  
							p.authors__top--item
								strong Александр Адабашьян 
								| уже более 40 лет работает в отечественном кино как сценарист, художник-постановщик и актер. В его фильмографии такие фильмы как «Раба любви», «Неоконченная пьеса для механического пианино», «Родня», «Выигрыш одинокого коммерсанта», «Мадо, до востребования», «Шерлок Холмс», «Отцы и дети», «Собачий рай» и другие.
						h3.author__subheading КОМАНДА
						ul.authors__team
							li Оператор-постановщик — 
								strong Владимир Климов
							li Звукорежиссер — 
								strong Мария Ушенина
							li Художник-аниматор — 
								strong Сергей Меринов
							li Художник по костюмам — 
								strong Анастасия Образцова
							li Художник по гриму — 
								strong Татьяна Коломицева
							li Музыка — 
								strong Гавин Брайерс
						.links-wrap
							a.btn.btn--white(href="#") подробнее








block inlineScripts