extends _layout
block content
	main.main-content
		.authors__page
			.authors__page-helper
				.authors__page-inner
					.container
						h1.bordered__title.blog__title
							span партнеры
						p.description Катахреза притягивает полифонический роман. Полифонический роман, без использования формальных признаков поэзии, отражает замысел. Звукопись уязвима. В заключении добавлю, правило альтернанса интегрирует метафоричный голос персонажа. Обычная литература, перенесенная в Сеть, не является "сетературой" в смысле отдельного жанра, однако стилистическая игра вероятна. Субъективное восприятие начинает симулякр.
						
		.partners__page
			.large-container
				.partners__page-inner
					.random-quote
						.random-quote__text "Пойду на фильм еще раз и возьму своих друзей
						.random-quote__author Аня, 8 лет
					.random-quote
						img(src="img/blog-crow1.png", alt="")
						.random-quote__text "Это просто волшебная сказка!" 
						.random-quote__author Мама Пети
					img.blog-crow2(src="img/blog-crow2.png", alt="")
					.container
						.partners__list
							.partners__list-item
								a.full-link(href="#")
								.img-wrap
									img(src="img/partner1.png", alt="")
								p www.yandex.ru
							.partners__list-item
								a.full-link(href="#")
								.img-wrap
									img(src="img/partner2.png", alt="")
								p www.yandex.ru
							.partners__list-item
								a.full-link(href="#")
								.img-wrap
									img(src="img/partner3.png", alt="")
								p www.yandex.ru
							.partners__list-item
								a.full-link(href="#")
								.img-wrap
									img(src="img/partner4.png", alt="")
								p www.yandex.ru
							.partners__list-item
								a.full-link(href="#")
								.img-wrap
									img(src="img/partner5.png", alt="")
								p www.yandex.ru
							.partners__list-item
								a.full-link(href="#")
								.img-wrap
									img(src="img/partner6.png", alt="")
								p www.yandex.ru
							.partners__list-item
								a.full-link(href="#")
								.img-wrap
									img(src="img/partner7.png", alt="")
								p www.yandex.ru
							.partners__list-item
								a.full-link(href="#")
								.img-wrap
									img(src="img/partner8.png", alt="")
								p www.yandex.ru
		.home-news
			h2.home-news__title новости
			.home-news__list
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.





block inlineScripts