extends _layout
block content
	main.main-content
		.home-slider
			.home-slider__helper
				.home-slider__inner
					.home-slider__container.cf
						h3.trailer__title трейлеры
						.home-slider__trailer
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/TS-G4UQTfUo", frameborder="0")
								.slider-item__title трейлер #1
							.home-slider__trailer--inner
								.slider-item__container
									iframe(src="https://www.youtube.com/embed/GTWqwSNQCcg", frameborder="0")
								.slider-item__title трейлер #2
		.about
			.large-container
				.about__top.trailer__top
					.random-quote
						.random-quote__text "Пойду на фильм еще раз и возьму своих друзей" 
						.random-quote__author Аня, 8 лет
					.random-quote
						img(src="img/blog-crow1.png", alt="")
						.random-quote__text "Это просто волшебная сказка!" 
						.random-quote__author Мама Пети
					.container
						h2.simple__title реклама
						.about__links
							a.about__links--item(href="#")
								img(src="img/about-link1.jpg", alt="")
								span.about__links--item-description кадры из фильма
							a.about__links--item(href="#")
								img(src="img/about-link2.jpg", alt="")
								span.about__links--item-description за кадром
						.links-wrap
							a.btn.btn--yellow(href="#") анонсы фильма
		
		.home-news
			h2.home-news__title новости
			.home-news__list
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg3.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg1.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
				.home-news__list-item
					a.full-link(href="#")
					.holder(style="background-image: url(img/newsbg2.jpg)")
						.inner
							.description
								p.heading эпизод “поднятие александрийской колонны”
								p.descr Lorem ipsum dolor sit amet! <br>Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam :)<br>Duis aute irure dolor in reprehenderit in voluptate.
		.home-subscribe
			.home-subscribe__inner
				.title Хочешь первым узнавать новости о фильме?
				a.btn.btn--dark-green(href="#") Подписаться










block inlineScripts